<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.15/css/mdb.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
      crossorigin="anonymous">
    <link rel="stylesheet" href="/styles/styles.css" media="screen" title="no title" charset="utf-8">

    <title>Second Hand Treasurues</title>
  </head>
  <body>
    {{> navigation/navigation }}

    {{{body}}}
    
    {{> navigation/footer }}

    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="/js/index.js"></script>
  </body>
</html>
