{{!-- Main Text --}}
<div id="main-header" class="container justify-content-center">
    <div class="row">
        <h1>Second Hand Treasures</h1>
    </div>
</div>

{{!-- Item Form --}}
<div class="container mt-5" id="newItemForm">
    <div class="container col-md-12">
        <form method="POST" action="/api/item" required="" minlength="1" id="add-item">
            <h3>Fill out form below to post your item:</h3>
            <div class="form-row">
                <div class="form-group col-md-6 col-sm-12">
                    <label for="item">Item Name</label>
                    <input id='item-name' class="form-control" type="text" pattern="[A-Za-z0-9\s]+" placeholder="Item name" >
                </div>
                <div class="form-group col-md-6 col-sm-12">
                    <label for="descriptionOfItem">Item Description</label>
                    <input id='item-description' class="form-control" type="text" placeholder="Description of item" >
                </div>
                <div class="form-group col-md-6 col-sm-12">
                    <label for="itemPrice">Item Price</label>
                    <input id='item-price' class="form-control" type="number" step="0.01" min="0.01" placeholder="Price" >
                </div>
                <div class="form-group col-md-6 col-sm-12">
                    <label for="itemImage">Item Image</label>
                    <input id='newImage' class="form-control" type="file" placeholder="jpeg/png" accept=".jpeg, .png, .jpg" >
                </div>
                 <div class="form-group col-md-6 col-sm-12">
                    <label for="itemCatagory">Item Catagory</label>
                    <select class="form-control" id="new-item-catagory">
                    {{#each catagories}}
                        <option value="{{id}}">{{name}}</option>
                    {{/each}}
                    </select>
                </div>
                <div class="form-row">
                    <button type="submit" class="btn" id="upload">Post Item</button>
                </div>
            </div>
        </form>
    </div>    
</div>
