// views/add-item.handlebars
{{!-- Item Form --}}
<div id="main-header" class="container justify-content-center">
    <div class="row">
      <h1>Second Hand Treasures</h1>
    </div>
<div>
    <form id="add-item">
        <label for="item">Item Name</label>
        <input id='item-name' type="text" placeholder="Item name" />
        <label for="descriptionOfItem">Item Description</label>
        <textarea id='item-description' type="text" placeholder="Description of item" />
        <label for="itemPrice">Item Price</label>
        <input id='item-price' type="number" placeholder="Price" />
        <label for="itemImage">Item Image</label>
        <input id='newImage' type="file" placeholder="jpeg/png" accept=".jpeg, .png, .jpg">  />
        <button type="submit" class="btn" id="upload">Post Item</button>
         
    </form>
</div>


