{{!-- Main Text --}}
<div id="main-header" class="container justify-content-center">
  <h1>Second Hand Treasures</h1>
</div>

{{!-- Registration Form / Add new user --}}
<div class="container" id="newUserForm">
  <form method="POST" action="" required="" minlength="1" id="create-form">
    <h3>Fill out form below to register:</h3>
    <div class="form-row">
      <div class="form-group col-md-6 col-sm-12">
        <label for="firstName">First Name</label>
        <input type="text" class="form-control" id="firstName" pattern="[A-Za-z0-9]+" placeholder="First Name" required="" minlength="1">
      </div>
      <div class="form-group col-md-6 col-sm-12">
        <label for="lastName">Last Name</label>
        <input type="text" class="form-control" id="lastName" pattern="[A-Za-z0-9]+" placeholder="Last Name" required="" minlength="1">
      </div>

      {{!-- New Row Email and password --}}
      <div class="form-group col-md-6 col-sm-12">
        <label for="email">Email Address</label>
        <input type="email" class="form-control" id="email" placeholder="email@example.com" required="" minlength="1">
      </div>
      <div class="form-group col-md-6 col-sm-12">
        <label for="password">Create a Password</label>
        <input type="text" class="form-control" id="password" placeholder="Create a password"required="" minlength="1">
      </div>
      <div class="form-group col-md-6 col-sm-12">
      <div class="form-row">
        <button type="submit" class="btn" id="signUpBtn">Sign me up!</button>
      </div>
      </div>  
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="Signup-Error-Modal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ModalLabel">Email Address In Use!</h5>
        <button type="btn" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>This email address is already associated with an account. Please enter a different email address.</p>  
        <p>Thank You.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
