<div class="container mx-auto mt-5">
    <div class="row" id="all-items">
        {{#each items}}
            <div class="card text-center col-lg-4 col-md-4 col-sm-12 mb-4 d-flex align-items-stretch item-card">
                <img class="card-img-top" src="{{fileURL}}" alt="{{name}}">
                <div class="card-body">
                    <h5 class="card-title">{{name}}</h5>
                    <p class="card-text">{{description}}</p>
                </div>
                <div class="card-footer">
                    <a href="#"><button class="btn btn-primary purchaseBtn">Purchase Item</button></a>
                </div>
            </div>
        {{/each}}
    </div>
</div>

{{!-- Need to get this information into above info.
{{!-- Main Text --}}
<div id="main-header" class="container justify-content-center">
    <div class="row">
      <h1>Second Hand Treasures</h1>
    </div>
    <div class="row">   
      <a href="#create-form"><button class="btn">Sign Up</button></a>
    </div>
  </div>
{{!--Upload image --}}
<div class="container col-12" id="imageupload">
    <div class="container col-md-6">
      <form method="POST" action="/newUser" required="" minlength="1" class="upload-form">
        <div class="form-row">
          <div class="form-group col-md-6">
          <div class="form-row col-md-12">
            <label for="inputUserName">UserName</label>
            <input type="text" class="user_id" id="inputuser" placeholder="Name">
            <input id="newImage" placeholder="jpeg/png" type="file" accept=".png, .jpeg, .jpg"

          </div>

          <div class="form-row">
            <button type="submit" class="btn" id="upload">Post Image</button>
          </div>

        </div>  
      </form> --}}
