<div id="main-header" class="container justify-content-center">
  <h1>Second Hand Treasures</h1>
</div>

{{!-- Login --}}
<div class="container col-12" id="login-form">
  <div class="container col-md-8 col-sm-12">
        <form method="GET" action="/create" required="" minlength="1" id="create-login-form">
            <h3>Fill out form below to login:</h3>
            <div class="form-row">
                <div class="form-group col-md-6 col-sm-12">
                    <label for="email">Email Address</label>
                    <input type="email" class="form-control" id="email" placeholder="email@example.com" required=""
                        minlength="1">
                </div>
                <div class="form-group col-md-6 col-sm-12">
                    <label for="password">Password</label>
                    <input type="text" class="form-control" id="password" placeholder="Enter Password" required="" minlength="1">
                </div>
                <div class="form-group col-md-6">
                    <div class="form-row">
                        <button type="submit" class="btn" id="loginBtn">Sign In</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<!-- No Account Modal -->
<div class="modal fade" id="NoAccount-Error-Modal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ModalLabel">No Account Found!</h5>
        <button type="btn" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>No account could be found with that email address. Please try again.</p>  
        <p>Thank You.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Invalid Password Modal -->
<div class="modal fade" id="InvalidPassword-Error-Modal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ModalLabel">Invalid Password!</h5>
        <button type="btn" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>The password you provided is incorrect. Please try again.</p>  
        <p>Thank You.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
