body {
  background-image: url("../images/wallhaven-547660.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#create-form,
#create-login-form,
#add-item {
  padding: 50px;
  text-transform: capitalize;
  background-color: black;
  opacity: 0.92;
  border-radius: 25px;
}

#newItemForm,
#login-form,
#newUserForm {
  margin-bottom: 10%;
}


label {
  color: antiquewhite;
}

h3 {
  color: white;
  font-size: 28px;
  margin-bottom: 30px;
  text-transform: none;
}

.btn,
button {
  margin-top: 20px;
  background-color: silver;
  color: black;
  border-radius: 10px;
}

#main-header {
  color: antiquewhite;
  margin-top: 20px;
  margin-bottom: 20px;
}

#main-header > h1 {
  font-weight: 500;
}

footer,
#nav-bar {
  display: flex;
  padding: 15px;
  opacity: 0.85;
}

footer {
  position: fixed;
  height: 100px;
  bottom: 0;
  width: 100%;
  border-radius: 10px 10px 0 0;
}

#nav-bar {
  border-radius: 0 0 10px 10px;
}

#items-container {
  margin: 30px auto 150px auto;
}

#all-items>.item-card {
  margin: 10px;
  border-radius: 15px;
}

.purchaseBtn {
  margin: 0 auto;
}

.item-card img {
  width: 150px;
  margin: 0 auto;
}

.card-img-top{
  padding-top: 30px;
}
