body {
  background-image: url(https://wallpapers.wallhaven.cc/wallpapers/full/wallhaven-547660.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#create-form,
#newUserForm, 
#create-login-form,
#newItemForm {
  margin: 15px auto;
  padding: 50px;
  text-transform: capitalize;
  background-color: black;
  opacity: 0.92;
  border-radius: 15px;
}

label {
  color: antiquewhite;
}

.btn,
button {
  margin-top: 20px;
  background-color: silver;
  color: black;
  border-radius: 10px;


}

#main-header {
  color: antiquewhite;
  margin-top: 10%;
  margin-bottom: 15px;
}

footer,
#nav-bar {
  display: flex;
  padding: 15px;
  opacity: 0.85;
}

footer {
  position: fixed;
  height: 100px;
  bottom: 0;
  width: 100%;
  border-radius: 10px 10px 0 0;

}

#nav-bar {
  border-radius: 0 0 10px 10px;
}

#all-items>.item-card {
  margin: 10px;
}

.purchaseBtn {
  margin: 0 auto;
}
