{{!-- footer --}}
<footer class="page-footer font-medium red darken-2 d-flex justify-content-center">
  <div>
    <div class="row d-flex justify-content-center">
      <a href="https://github.com/ShemikaKW/Project-2" class="mx-2">
        <i class="fab fa-github fa-2x"></i>
      </a>
    </div>
    <div class="row">
      Fab Four Copyright &copy; 2018
    </div>
  </div>
</footer>
