  {{!-- footer --}}
  <footer class="col-12 mt-5 page-footer font-medium red darken-2 text-center text-white-50">
    <div class="social d-flex justify-content-center">
      <a href="https://github.com/ShemikaKW/Project-2" class="mx-2">
        <i class="fab fa-github fa-2x"></i>
      </a>
    </div>
    <div class="container">
      Fab Four Copyright &copy; 2018
    </div>
  </footer>
