{{!-- NavBar --}}
<nav class="navbar navbar-expand-lg mb-5 navbar-light bg-light grey lighten-2 fixed-top" id="nav-bar">
<<<<<<< HEAD
    <a class="navbar-brand" href="/">Second Hand Treasures</a>
    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/search">Browse</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Post Item</a>
        </li>
        <li role="separator" class="divider">
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right" id="logins">
        <li>
          <a href="/login">Login <i class="fas fa-user fa-large"></i></a>
        </li>
      </ul>
    </div>
</nav>
=======
  <div class="collapse navbar-collapse" id="main-navbar">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/search">Search</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/add-item">Create</a>
      </li>
      <li role="separator" class="divider"></li>
    </ul>
    <ul class="nav navbar-nav navbar-right" id="logins">
      <li>
        <a href="/#create-form">Sign Up <i class="fas fa-dollar-sign fa-large">|</i></a>
      </li>
      <li>
        <a href="/login">Login <i class="fas fa-user fa-large"></i></a>
      </li>
    </ul>
  </div>
  </div>
</nav>ß
>>>>>>> 6fe99fb7d1e4e669ae91a36784f71c5cdb55a027
