{{!-- NavBar --}}
<nav class="navbar navbar-expand-lg navbar-light bg-light grey lighten-2 sticky-top" id="nav-bar">
  <a class="navbar-brand" href="#"><img src="https://img.icons8.com/ios/1600/treasure-chest.png" alt="Second Hand Treasures icon" width="40px"></a>
    <button id="navButton" class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto" id="nav-bar-items">
        <li class="nav-item">
          <a class="nav-link" href="/search" id="searchNav">Browse</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/add-item" id="postNav">Post Item</a>
        </li>
        <li role="separator" class="divider"></li>
      </ul>
      <ul class="nav navbar-nav navbar-right" id="logins">
        <li>
          <a href="/login" id="loginNav">Login <i class="fas fa-user fa-large"></i></a>
        </li>
      </ul>
    </div>
  </div>
</nav>
